<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers">
<head>
    <meta charset="UTF-8">
    <title>HTML Template File</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="Templates/main.css"/>

    <script>
        function passPlayerChoice(input) {
            let fetchString = 'http://localhost:87/RockPaperScissors/index.php?player=' + input;
            fetch(fetchString)
                .then(response => response.json())
                .then(function (myJson) {
                    document.getElementById("out").innerHTML = JSON.parse(JSON.stringify(myJson))["answer"];
                    let images = ["rock", "paper", "scissors"];
                    document.getElementById("choice_image").src = "Images/" + images[JSON.parse(JSON.stringify(myJson))["choice"]] + ".svg";
                })
                .catch(function (err) {
                    console.error(err);
                });
        }
    </script>
</head>
<body>
<h2 style="padding: 10px;"> Choose carefully... </h2>
<section id="choice_cards" class="m-3 row">
    <div class="card m-2 " id="rock" onclick="passPlayerChoice(0);">
        <img src="Images/rock.svg" alt="rock"/>
        <div class="card-body">
            <h2 class="card-title"> Rock </h2>
            <p class="card-text"> You have a 33% chance to win. </p>
        </div>
    </div>
    <div class="card m-2" id="paper">
        <img src="Images/paper.svg" alt="paper" onclick="passPlayerChoice(1);"/>
        <div class="card-body">
            <h2 class="card-title"> Paper </h2>
            <p class="card-text"> Yeah. Still the same chance. </p>
        </div>
    </div>
    <div class="card m-2" id="scissors" onclick="passPlayerChoice(2);">
        <img src="Images/scissors.svg" alt="scissors"/>
        <div class="card-body">
            <h2 class="card-title"> Scissors </h2>
            <p class="card-text"> It actually doesn't matter at all. </p>
        </div>
    </div>
</section>
<h1 id="out"> No Game yet </h1>
<section id="cpu_choice">
    <div class="card m-2 " id="questionmark">
        <img id="choice_image" src="Images/questionmark.svg" alt="cpu_choice"/>
        <div class="card-body">
            <h2 class="card-title"> CPUs choice  </h2>
        </div>
    </div>
</section>
</body>
</html>